body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: #ac621d;
    background-image: url('https://wallpaperaccess.com/full/4704.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    color: #5a320d;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    background-color: rgba(223, 217, 217, 0.8);
    position: relative;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.width-20 {
    width: 20%;
    align-self: center;
}

.width-40 {
    width: 40%;
    justify-self: center;
}

hr {
    border:none;
    border-top: 2px solid rgba(215, 206, 241, 0.7);
    box-shadow: 0 0 5px 3px rgba(215, 206, 241, 0.7);
}

.available-character-wrapper {
    width: 720px;
    height: 580px;
    margin: 50px auto;
}

.height-290 {
    height: 290px;
}

.character-div {
    height: 230px;
    width: 180px;
    box-shadow: 0 0 5px 3px rgba(143, 108, 248, 0.7);
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    background-color: rgba(150, 144, 144, 0.3);
    margin: 10px;
    position: relative;
}

.details-div {
    text-align: left;
    font-size: 14px;
    color: rgb(12, 5, 53);
    width: 220px;
    line-height: 1.5;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    background-color: rgba(236, 209, 183, 0.9);;
    margin: 10px;
    z-index: 99;
    position:absolute;
    right: -260px;
    top: 0;
}

.width-95 {
    display: inline-block;
    width: 95px;
}

.character-img {
    margin: 10px auto;
    display: block;
    height: 150px;
    width: 110px;
    
}

.label {
    color: #e2934a;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(196, 28, 28, 0.7);
    box-shadow: 0 0 5px 3px rgba(186, 185, 189, 0.7);
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    width: 320px;
}

.result-win {
    color: #e90000;
    font-size: 3rem;
    text-align: center;
    background-color: rgba(252, 249, 249, 0.9);
    box-shadow: 0 0 5px 3px rgba(186, 185, 189, 0.7);
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    width: 320px;
}

.result-lost {
    color: #5c0909;
    font-size: 3rem;
    text-align: center;
    background-color: rgba(94, 90, 90, 0.9);
    box-shadow: 0 0 5px 3px rgba(186, 185, 189, 0.7);
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    width: 320px;
}

.p-padding {
    background-color: rgba(12, 5, 53, 0.7);
    box-shadow: 0 0 10px 2px rgba(186, 185, 189, 0.7);
    padding: 5px;
    border-radius: 10px;
}

.attack-background {
    animation-name: attack;
    animation-duration: .3s;
}

@keyframes attack {
    100% {
        background-color: rgba(196, 28, 28, 0.7);
    }
}

.reset-btn {
    font-family: 'Rubik', sans-serif;
    color: rgb(122, 8, 8);
    background-color: #dda36d;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px 2px rgba(129, 32, 32, 0.7);
}

.reset-btnIdle {
    font-family: 'Rubik', sans-serif;
    color: rgb(122, 8, 8);
    background-color: #dda36d;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px 2px rgba(129, 32, 32, 0.7);
}
.reset-btnIdle:focus {
    outline: none;
    border: none;
}

.reset-btn:focus {
    outline: none;
    border: none;
    animation-name: btn;
    animation-duration: .3s;
}

.btn {
    width: 150px;
    font-family: 'Rubik', sans-serif;
    color: rgb(122, 8, 8);
    background-color: #dda36d;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px 2px rgba(129, 32, 32, 0.7);
}

.btnIdle {
    width: 150px;
    font-family: 'Rubik', sans-serif;
    color: rgb(122, 8, 8);
    background-color: #dda36d;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px 2px rgba(129, 32, 32, 0.7);
}

.btnIdle:focus {
    outline: none;
    border: none;
}

.btn:hover {
    background-color: red;
}

.btn:focus {
    outline: none;
    border: none;
    animation-name: btn;
    animation-duration: .3s;
}

@keyframes btn {
    50% {
        transform: scale(1.5);
    }
}

.position-btn {
    position: absolute;
    top: 11px;
    right: 50px;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #053275;
    border-top: 3px solid #f4f4f4;
}


