body {
    font-family: 'Rubik', sans-serif;
    color: #e2934a;
    background-image: url('https://wallpaperaccess.com/full/4704.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    font-size: 2rem;
    text-align: right;
}

.container {
    margin: 100px;
}
.height-290 {
    height: 290px;
}
.character-div {
    height: 230px;
    width: 180px;
    box-shadow: 0 0 5px 3px rgba(143, 108, 248, 0.7);
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    background-color: rgba(150, 144, 144, 0.3);
    margin: 10px;
    overflow: hidden;
}

.character-img {
    margin: 10px auto;
    display: block;
    height: 150px;
    width: 110px;
}

.label {
    color: #e2934a;
    font-size: 20px;
    background-color: rgba(196, 28, 28, 0.7);
    box-shadow: 0 0 5px 3px rgba(186, 185, 189, 0.7);
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    width: 280px;
}

.p-padding {
    background-color: rgba(12, 5, 53, 0.7);
    box-shadow: 0 0 10px 2px rgba(186, 185, 189, 0.7);
    padding: 5px;
    border-radius: 10px;
}

.attack-background {
    animation-name: attack;
    animation-duration: .3s;
}

@keyframes attack {
    100% {
        background-color: rgba(196, 28, 28, 0.7);
    }
}